

@font-face {
    font-family: bunge;
    src: url(../Fontes/Bungee-Regular.ttf);
}


body {
    margin: 0px;
    
}


h1 {
    font-family: bunge;
    
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
}

li {
  
    margin: 10px 0px;
    
    
}

a:link, a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: right;
    padding-right: 30px;
    text-shadow: 2px 3px 3px black;
    transform: translateX(-90%);
    transition: all 3s;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 2px 2px 6px gray;
   
}

a:hover {    
    background-color: black;
    transform: translateX(0%);
   
}

.verde{
    background-color: green;
}

.azul {
    background-color: blue;

}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}
.roxo {
    background-color: purple;
}

header {
    background-repeat: no-repeat;
    background-size: 100%;
}
@media screen and (max-width: 640px) {
    header {
        background-image: url(../Imagens/topo640.jpg);
    }
    nav {
        top: 138px;

    }

 

}

@media screen and (min-width: 641px) and (max-width: 1280px) {
    header {
        background-image: url(../Imagens/topo1280.jpg);
    }

    nav {
        top: 266px;
        
    }

}

@media screen and (min-width: 1280px) {
    header {
        background-image: url(../Imagens/topo1920.jpg);
    }

    nav {
        top: 394px;
        
    }
  

}



