body {
    background-color: lightgrey;
    margin: 5px auto; 
}

section {
   width: 1000px;
    margin: auto;
}

#container {
    width: 100%;
    border: 1px solid rgb(46, 46, 3);
    text-align: center; 
    background-color: white;
    color: blue;
    box-shadow: 5px 5px 6px black
}

.box {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    height: 365px;
    margin: 10px;
    box-shadow: 2px 1px 6px black
}

#caixa1, #caixa2, #caixa3 { 
    background-color: rgba(255, 255, 255, 0.685);
    color: rgb(255, 8, 8);
}


