body {
  margin: 0px;
  border-top: 10px solid #00124A;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  line-height: 1em;
}

header nav {
  background-color: #538114;  
}

header ul {
  width: 1000px;
  list-style: none;
  margin: auto;
}

header nav ul li {
  display: inline-block;
  width: 80px;
  font-size: 14px;
  text-align: center;
  padding: 10px;  
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  color: red;
}

header h1, header h2 {
  font-family: sans-serif;
}

header h1 {
  font-size: 25px;
}

header h2 {
  font-size: 17px;
}

table p {
  line-height: 1em;
}

article table h2 {
  font-size: 18px;
}

article:nth-child(1) table h2 {
  color: black;
  margin: 0px;
}

article:nth-child(2) table h2 {
  color: white;
  margin: 0px;
  padding: 5px;
}

article table p, li, summary {
  text-align: justify;
  line-height: 1.6em;
  font-size: 14px;
}

summary {
  cursor: pointer;
}

article:nth-child(2) {
  background-color: #BFE38E;
  padding: 10px 0px;
}

article:nth-child(2) table {
  border: 0px;
}

article:nth-child(2) a {
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

footer a {
  color: white;
}

footer legend, label {
  color: white;
  padding-right: 10px;
}

footer input[type="text"] {
  width: 180px;
  padding:5px;
}

footer input[type="button"] {
  width: 100px;
  background-color: #BFE38E;
  border: 0px;
  border-radius: 3px;
  padding: 7px;
}

footer input[type="button"]:hover {
  background-color: #538114;
  color: white;
}

footer fieldset {
  width: 635px;
  padding:15px;
  border: 1px solid white;
}
